{
  "tabWidth": 2,
  "bracketSameLine": true,
  "singleQuote": true,
  "printWidth": 100,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "src/@graphql/**/*.ts",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
